body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333333;
    color: black;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Navigáció */
#nav {
    overflow: hidden;
    background-color: #333333;
    padding: 40px 10px;
    transition: 0.4s;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    opacity: 1;
}

#nav a {
    float: none;
    text-align: center;
    color: #e7e7e7;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    border-bottom: 3px solid transparent;
    opacity: 1;
}

#nav #name {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
    color: orange;
    border-bottom: none;
}

#nav a:hover {
    background-color: #333333;
    color: #e7e7e7;
    border-bottom: 3px solid orange;
    opacity: 1;
}

#nav a.active {
    background-color: #333333;
    color: #e7e7e7;
    border-bottom: 3px solid orange;
    opacity: 1;
}

@media screen and (max-width: 580px) {
    #nav {
        padding: 20px 10px !important;
    }

    #nav a {
        float: none;
        text-align: center;
    }
}

.fab fa-github {
    color: #e7e7e7;
    margin: -5px 0px;
}

/* Kép + felirat */

.row {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("sources/thumb-1920-679478.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 74px;
    padding-top: 3%;
    height: 90px;
}

.column {
    text-align: center;
    width: 100%;
    padding: 165px;
    font-size: 30px;
}
.borderszoveg {
    font-size: 22px;
    padding-left: 10%;
    padding-right: 10%;
}

.border {
    float: none;
    background-color: #e7e7e7;
    color: black;
    border-radius: 5px;
    height: 200%;
    padding-bottom: 4%;
    margin-left: 7%;
    margin-right: 7%;
}

.border button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.19);
    background-color: #333333;
    border: none;
    color: #e7e7e7;
    padding: 18px 17px;
    text-align: center;
    font-size: 28px;
    margin: 4px 2px;
    opacity: 0.76;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.border button:hover {
    opacity: 0.88;
}

/* Képek egy 3 oszlopos táblában + feliratok */

h3 {
    font-size: 52px;
    text-align: center;
    padding-top: 2%;
}

.first {
    float: none;
    background-color: #e7e7e7;
    color: black;
    height: 200%;
    margin-top: -70px;
    padding-bottom: 3%;
}

.oszlop {
    float: left;
    text-align: center;
    width: 33.33%;
    padding-top: 1%;
}

.erdekes {
    width: 70%;
}

.kepcim {
    margin-top: 0;
    margin-bottom: 1px;
}

.random:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .oszlop {
        width: 100%;
    }
}

/* Hírek */

.main {
    width: 70%;
    background-color: #e7e7e7;
    padding: 20px;
    margin-top: 10px;
    margin-left: 1.5%;
}

.image {
    width: 80%;
    height: 300px;
    padding: 20px;
    background-color: #aaaaaa;
}